body {
	margin:0;
	padding:0;
}
.wrap { 
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.nav {
    float: left;
    width: 19%;
    color: #fff;
    height: 100vh;
    padding-right: 11px;
    overflow: hidden;
    background: rgb(18,46,73);
    box-shadow: -10px 14px 52px #333 inset;
}
.sub {
    line-height: 3;
    text-align: center;
    font-weight: bolder;
    font-style: italic;
    text-decoration: overline;
}
ul li { 
    list-style-type:none;
    cursor:pointer;
}
li > img { 
    opacity: .3;
}
.ic { 
    max-width:25px;
    padding: 5px;
}
.ar {
    font-weight: bold;
    font-size: 12px;
    opacity: .3;
}
form#test { 
    width: 40%;
    margin: 0 auto;
}
button { 
   background: none;
   border:none;
}
.logo img {
    max-width: 103px;
    margin-left: 28%;
    padding-top: 10px;
}
.screen {
    float: left;
    width: 80%;
    height: 100vh;
    overflow-y: scroll;
    padding: 5px;
    overflow-x: hidden;
    padding-left: 25px;
}
.actions { 
    border-top: 1px solid #ddd;
    padding: 5px;
}
.actions, .data-columns { 
    width: 98%;
}
.user-state { 
    padding-right: 10px;
}
.update-data { 
    font-size: 15px;
    line-height: 2;
}
#addUpload, #changeDirectory { 
    position: absolute;
    width: 100%;
    top: 17%;
    background: rgba(255, 255, 255, 0.8);
    left: 0px;
    padding: 30px;
    margin: 0 auto;
    height: 100vh;
}
#addUpload, #changeDirectory > p { 
    text-align:center;
    font-weight:bold;
}
#changeDirectory form { 
    width: 30%;
    margin: 0 auto;
    padding-top: 80px;
}
.close { 
    float:right;
    font-weight:bolder;
}
.cr {
    font-size: 10px;
    padding: 5px;
    text-align: center;
    display: inherit;
    line-height: 0;
    font-style: italic;
}
.spacer { 
    height: 120px;
}
.user-state { 
    float:right;
}
#autoSuggest {
    float:right;
}
.sr { 
    cursor: pointer;
}
.sr:hover { 
    text-decoration: underline;
    font-weight: bolder;
}
#result { 
    text-align: right;
    display: inline-block;
    width: 100%;
    padding: 5px;
    padding-right: 50px;
    border: 0px;
}
#ac {
    width: 200px;
    position: absolute;
    right: 2.2%;
    text-align: center;
    margin-top: -15px;
    z-index: 1001;
    background: lightblue;
    padding: 6px;
    border: 0px;
    text-decoration:underline;
}
#hd { 
    background: #dddddd;
}
.sm-sp { 
  height: 15px;
}
#form { 
    width: 50%;
    margin: 0 auto;
}
#footer {
	clear:both;
	float:left;
	width:100%;
}
.row div { 
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
}
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
#output {
    background: #333333;
    padding: 10px;
    font-weight: normal;
    color: #ffffff;
}
.col-xs-15 {
    width: 20%;
    float: left;
}
input#autoSuggest { 
  border: 1px solid;
  color: gray;
  padding: 4px;
  filter: blur(1px);
  background: #dddddd;
  width: 200px;
}

input#autoSuggest:focus-within {
  background: #ffffff;
  color: black;
  filter: blur(0px);        
}

input#autoSuggest{
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}
 
input#autoSuggest:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}
